/* Import from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Crimson+Text:wght@600&family=EB+Garamond&family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Bitter', sans-serif;
    font-weight: 200;
    color: #4d4b41;
    background-color: #f0f2f5;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Header and Logo */

header {
    font-family: 'Bitter', sans-serif;
    background-color: white;
    width: 100%;
    height: auto;
    position: sticky;
    z-index: 100;
}

#logo {
    color:#1b587b;
    float: left;
    margin-left: 20px;
    width: 400px;
    text-align: left;
    font-size: xx-large;
    text-transform: uppercase;
    
}

#logo a {
    text-decoration: none;
}

#menu #logo {
line-height: 100px;
letter-spacing: 3px;
}

#menu {
    color:#1b587b;
    float: right;
    margin-right: 20px;
    text-align: right;
    font-size: x-large;
    line-height: 100px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
    margin: 20px;
    display: inline;
}

#menu a:hover {
    border-bottom: 2px solid #242424;
}

.red {
    color: rgb(185, 6, 6);
}

.blue {
    color: rgb(44, 44, 182);
}

.yellow {
    color: rgb(220, 200, 17);
}

/* front main image and text */

#main-section {

    overflow: hidden;
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 0px;

}

#main-image {
    background: url('../images/front-page-main.jpg') no-repeat center center;
    height: 100%;
    margin-top: 100px;
}

#main-text {
    background-color: rgba(25, 44, 112, 0.399);
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 150px;
    line-height: 200%;
    text-align: center;
    font-size: x-large;
    color: #f0f2f5;
    padding: 2px;
}

/* Easter photo and text */

#service {
    width: 50%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

#service-table {
    display: flex;
    float: left;
    text-align: center;
    width: 50%;
    padding: 20px;
    height: 400px;
}

#service-table table {
    margin: 0 auto;
}
#service-table td {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #4d4b41;

}

#service-table th {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #4d4b41;

}

#events {
    float: right;
    text-align: center;
    width: 40%;
    padding: 20px;
    line-height: 2;
    height: 400px;
}

#quote {
    float: left;
    text-align: center;
    width: 50%;
    padding: 20px;
    line-height: 2;
}

footer {
    height: 70px;
    width: 100%;
    background-color: white;

}
    
footer ul {
    list-style-type: none;
    display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      
      footer a {
        text-align: left;
        font-size: x-large;
        text-decoration: none;
      }

      /* contact page */

      #contact-body {
        background: url('../images/pexels-ron-lach-10610265.jpg') no-repeat center center;
        background-size: cover;
        height: 1000px;
      }

      .form {
        position: absolute;
        margin: 400px 10% 0 0;
        background-color: rgba(132, 132, 135, 0.399);
        color: white;
        padding: 40px;
        border-radius: 2%;
        margin-left: 10%;
        width: 40%;
        border: rgb(172, 171, 171) solid 1px;
        
      }
    input {
        display: inline-block;
    }
    label {
        padding-right: 60px;
        order: 1;
        margin-left: 10px;
    }

    input {
        order: 2;
        margin-right: 10%;
        float: right;
        background-color: whitesmoke;
        width: 500px;

    }
    input

    #join-button {
        padding: 50px;
        border: white solid 2px;
        background-color: rgb(82, 82, 107);
        color: rgb(255, 255, 255);
        font-size: large;
        font-style: 'Bitter', sans-serif;
        border-radius: 10px;float: left;
        float: left;
        width: 100px;
    }

    #map-kilkenny {
        position: absolute;
        float: right;
        padding: 40px;
        border-radius: 2%;
        margin-right: 10%;
        width: 20%;
        margin-top: 1000px;
    }

    /* about page */

    #about-us {
        float: left;
        text-align: center;
        width: 50%;
        padding: 20px;
        line-height: 2;
    }