/* Import from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Crimson+Text:wght@600&family=EB+Garamond&family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Bitter', sans-serif;;
    font-weight: 200;
    color: #4d4b41;
    background-color: #f0f2f5;
    letter-spacing: 2px;
}

/* Header and Logo */

header {
    font-family: 'Bitter', sans-serif;
    background-color: white;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 100;
}

#logo {
    color:#1b587b;
    float: left;
    margin-left: 20px;
    width: 400px;
    text-align: left;
    font-size: xx-large;
    text-transform: uppercase;
    
}

#logo a {
    text-decoration: none;
}

#menu #logo {
line-height: 100px;
letter-spacing: 3px;
}

#menu {
    color:#1b587b;
    float: right;
    margin-right: 20px;
    text-align: right;
    font-size: x-large;
    line-height: 100px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    margin: 20px;
}

#menu a:hover {
    border-bottom: 2px solid #242424;
}

.red {
    color: rgb(125, 0, 0);
}

.blue {
    color: rgb(28, 28, 66);
}

.yellow {
    color: rgb(106, 120, 0);
}

/* front main image and text */

#main-section {

    overflow: hidden;
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 20px;

}

#main-image {
    background: url('../images/front-page-main.jpg') no-repeat center center;
    height: 100%;
    margin-top: 100px;
}

#main-text {
    background-color: rgba(25, 44, 112, 0.399);
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 150px;
    line-height: 200%;
    text-align: center;
    font-size: x-large;
    color: #f0f2f5;
    padding: 2px;
}

/* Easter photo and text */

#easter-photo {
    background: url('../images/easter-photo.jpg') no-repeat center center;
    height: 100%;
}

#service {
    width: 50%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

#service-table {
    display: flex;
    float: left;
    text-align: center;
    width: 50%;
    padding-bottom: 20px;
}

#service-table table {
    margin: 0 auto;
}
#service-table td {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #4d4b41;

}

#service-table th {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #4d4b41;

}

#events {
    float: right;
    text-align: center;
    width: 50%;
}

#events h2 h3 h4 {
    float: left;
    text-align: center;
    width: 50%;
    padding-top: 40px;
    padding-bottom: 20px;
    clear: both;
}
